* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(Foto/awan.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Form {
    border: 1px solid black;
    background-image: url(Foto/aurora.jpg);
    background-position: center;
    background-size: cover;
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20p 30px;
    margin: 50px;
    flex-direction: column;
    box-shadow: 0px 0px 0px 2px black;
    border-radius: 6px;
}

.Form h1 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input_text {
    padding: 10px;
}

.input_text input[type="text"] {
    width: 100%;
    outline: none;
    border-radius: 8px;
    padding: 5px;
    border-bottom: 1px solid black;
    background-color: azure;
}

.input_password {
    padding: 10px;
}

.input_password input[type="password"] {
    width: 100%;
    outline: none;
    border-radius: 8px;
    padding: 5px;
    border-bottom: 1px solid black;
    background-color: azure;
}

.btn {
    width: 80px;
    outline: none;
    background-color: azure;
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
}

::placeholder {
    font-size: 12px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

input[type="text"],input[type="password"]:focus {
    border: 1px solid yellow;
}

button:hover {
    background-color: aqua;
}